<section class="copyRightContainer">
    <div class="copyRightCenter">
        <h2>Urheberrechte ©</h2>

        <div class="copyRight">
            <div class="copyBox">
                <span>Alle Icons auf dieser Seite stammen von <b>Sebastian Gamroth</b>.</span>
            </div>
            <div class="copyBox">
                <span>Alle Bilder auf dieser Seite stammen von <b>pokeapi</b>.</span>
                <br>
                <a target="_blank" href="https://pokeapi.co/">pokeapi.co</a>
            </div>
            <div class="copyBox">
                <span>Alle APIs auf dieser Seite stammen von <b>pokeapi</b>.</span>
                <br>
                <a target="_blank" href="https://pokeapi.co/">pokeapi.co</a>
            </div>
        </div>
    </div>
</section>